<!DOCTYPE html>
<html>

  <head>
    <title>Hello Vue</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css" />
  </head>

  <body>
    <div id="app">
      <section class="section">
        <div class="container">
          <h1 class="title">
              Hello,
              <span v-if="gender == 'female'">Miss </span>
              <span v-else>Mister </span> {{name}}.
          </h1>

          <label for="gender" class="label">Enter your gender:</label>
          <p class="control">
            <input type="text" class="input" v-model="gender">
          </p>

          <label for="name" class="label">Enter your name:</label>
          <p class="control">
            <input type="text" class="input" v-model="name">
          </p>

        </div>
    </div>
    </section>

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js" charset="utf-8"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        gender: 'female',
        name: 'Universe'
      }
    })
  </script>

</html>
